# Oasis Infobytes : Data Science Internship

## Task 4 : Email Spam Detection with Machine Learning

### Intern's Name : Syed Ameen Ikhlaas H
#### Batch - June Phase 2 OIBSIP.

We’ve all been the recipient of spam emails before. Spam mail, or junk mail, is a type of email
that is sent to a massive number of users at one time, frequently containing cryptic
messages, scams, or most dangerously, phishing content.

In this Project, use Python to build an email spam detector. Then, use machine learning to
train the spam detector to recognize and classify emails into spam and non-spam. Let’s get
started!

DOWNLOAD DATASET FROM HERE: https://www.kaggle.com/datasets/uciml/sms-spam-collection-dataset

#### Importing Required Library

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

#### Loading the Dataset

In [2]:
df = pd.read_csv('C:\\Users\\user\\Desktop\\spam.csv',encoding='ISO-8859-1')

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.shape

(5572, 5)

In [5]:
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [6]:
df.drop(columns=['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [7]:
df.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
df.describe()

          v1                      v2
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [9]:
df['v2'].value_counts()

Sorry, I'll call later                                                                                                                                                 30
I cant pick the phone right now. Pls send a message                                                                                                                    12
Ok...                                                                                                                                                                  10
7 wonders in My WORLD 7th You 6th Ur style 5th Ur smile 4th Ur Personality 3rd Ur Nature 2nd Ur SMS and 1st \Ur Lovely Friendship\"... good morning dear"               4
Say this slowly.? GOD,I LOVE YOU &amp; I NEED YOU,CLEAN MY HEART WITH YOUR BLOOD.Send this to Ten special people &amp; u c miracle tomorrow, do it,pls,pls do it...     4
                                                                                                                                                                       ..
I gotta collect da car at 6 lei.                                                                                                                                        1
No. On the way home. So if not for the long dry spell the season would have been over                                                                                   1
Urgent! Please call 09061743811 from landline. Your ABTA complimentary 4* Tenerife Holiday or å£5000 cash await collection SAE T&Cs Box 326 CW25WX 150ppm               1
Dear 0776xxxxxxx U've been invited to XCHAT. This is our final attempt to contact u! Txt CHAT to 86688 150p/MsgrcvdHG/Suite342/2Lands/Row/W1J6HL LDN 18yrs              1
Rofl. Its true to its name                                                                                                                                              1
Name: v2, Length: 5169, dtype: int64

#### Splitting Dataset

In [10]:
x=df['v2']
y=df['v1']

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=.20,stratify=y,random_state=10)

In [12]:
print(x.shape, x_train.shape, x_test.shape)
print(y.shape, y_train.shape, y_test.shape)

(5572,) (4457,) (1115,)
(5572,) (4457,) (1115,)

#### Converting target column values into numbers

In [13]:
cv = CountVectorizer()
x_train= cv.fit_transform(x_train)

In [14]:
x_train

<4457x7631 sparse matrix of type '<class 'numpy.int64'>'
	with 59057 stored elements in Compressed Sparse Row format>

In [16]:
x_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

#### Training the Model

In [17]:
model = MultinomialNB()
model.fit(x_train,y_train)

MultinomialNB()

In [18]:
x_test=cv.transform(x_test)
x_test.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [19]:
model.score(x_test, y_test)

0.9928251121076234

#### Making our own Prediction

In [20]:
email=['get an iphone 14 for free',
       'You have an important customer service announcement. Call FREEPHONE 0800 542 0825 now',
       'WINNER give your account number of bank to get 1000000 dollar free',
       'i am looking for english language tutorials']

In [21]:
cv_email= cv.transform(email)

In [22]:
model.predict(cv_email)

array(['spam', 'spam', 'spam', 'ham'], dtype='<U4')